<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulario</title>
</head>
<body>
    <header>
        <span>Ejercicio HTML</span>
        <nav>
            <ul>
                <li><a href="/ejerciciohtml/">Inicio</a></li>
                <li><a href="conferencias.html">Conferencias</a></li>
                <li><a href="errores.html">Errores</a></li>
                <li><a href="galeria.html">Galeria</a></li>
            </ul>
        </nav>
      </header>  
</body>
</html>