<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
</head>
<body>
    <header>
        <span>Ejercicio HTML</span>
        <nav>
            <ul>
                <li><a href="/ejerciciohtml/">Inicio</a></li>
                <li><a href="conferencias.html">Conferencias</a></li>
                <li><a href="errores.html">Errores</a></li>
                <li><a href="formulario.html">formulario</a></li>
            </ul>
        </nav>
      </header> 
      <h1>Galeria de imagenes sobre Autos</h1>
      <figure>
        <img src="img/porsche911gtrRs.jpg" alt="Porsche 911 gt3 RS" width="400">
        <figcaption>
            El Porsche 911 GT3 RS es un superdeportivo de dos puertas y dos plazas fabricado por el fabricante alemán Porsche. Es la versión más extrema del 911 GT3, y está diseñado para ofrecer el máximo rendimiento en circuito.
            El GT3 RS está propulsado por un motor bóxer de seis cilindros y 4,0 litros que produce 520 CV y 470 Nm de par. El motor está acoplado a una transmisión manual de seis velocidades. El GT3 RS acelera de 0 a 100 km/h en 3,2 segundos y tiene una velocidad máxima de 312 km/h.</figcaption>
      </figure>
      <figure>
        <img src="img/720s.jpg" alt="Mclaren 720s" width="400">
        <figcaption>
            El McLaren 720S es un superdeportivo de dos puertas y dos plazas fabricado por el fabricante británico McLaren Automotive. Fue presentado en el Salón del Automóvil de Ginebra de 2017 como sucesor del McLaren 650S.
            El 720S está propulsado por un motor V8 biturbo de 4,0 litros que produce 720 CV y 770 Nm de par. El motor está acoplado a una transmisión automática de doble embrague de siete velocidades. El 720S acelera de 0 a 100 km/h en 2,9 segundos y tiene una velocidad máxima de 341 km/h.</figcaption>
      </figure>
      <figure>
        <img src="img/pagani.jpg" alt="Pagani Huayra" width="400">
        <figcaption>El Pagani Huayra es un superdeportivo de dos puertas y dos plazas fabricado por el fabricante italiano Pagani Automobili. Fue presentado en el Salón del Automóvil de Ginebra de 2011 como sucesor del Pagani Zonda.
            El Huayra está propulsado por un motor Mercedes-AMG V12 de 6,0 litros que produce 730 CV y 730 Nm de par. El motor está acoplado a una transmisión automática de siete velocidades. El Huayra acelera de 0 a 100 km/h en 3,3 segundos y tiene una velocidad máxima de 370 km/h.</figcaption>
      </figure>
      <figure>
        <img src="img/MERCEDES.jpg" alt="Mercedes AMG gt" width="400">
        <figcaption>
            El Mercedes-AMG GT Black Series es un superdeportivo de alto rendimiento homologado para la calle, desarrollado por Mercedes-AMG, la división de alto rendimiento de Mercedes-Benz. Se presentó en 2020 como el modelo más potente de la gama GT, superando al AMG GT R Pro.</figcaption>
      </figure>
      <footer>
        Elaborado por James
    </footer>
</body>
</html>